h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 30%;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 150px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
}

.contact-info {
  margin-top: 20px;
  text-align: center;
}

.contact-info p {
  margin: 5px 0;
  font-size: 16px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
